In [1]:
import os
os.chdir('C:/python-training/eyeglad/use_SQL')
print(os.getcwd())

C:\python-training\eyeglad\use_SQL

In [2]:
from sqlalchemy import create_engine, inspect
import log_in
import getdata

In [3]:
database = 'amazon'
# 連接到 MySQL 資料庫
engine = log_in.log_in_mySQL(database)

# 建立檢查器
inspector = inspect(engine)

Log in successful

In [4]:

# 查詢所有 schema
schemas = inspector.get_schema_names()
print("Schemas:", schemas)

Schemas: ['amazon', 'amazon_sport_sunglasses', 'events_sqltraining', 'information_schema', 'mysql', 'performance_schema', 'sys', 'world']

In [5]:

# 查詢所有 table
tables = inspector.get_table_names()
print("Tables:", tables)

Tables: ['sponsored_brands_attributed_purchases_report', 'sponsored_products_targeting_report']

In [6]:

# 查詢某一 table 的所有 columns
table_name = 'sponsored_products_targeting_report'
columns = inspector.get_columns(table_name)
print(f"Columns in {table_name}:", columns)

# 顯示列名稱
for column in columns:
    print(column['name'])

Columns in sponsored_products_targeting_report: [{'name': 'Date', 'type': TIMESTAMP(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Portfolio_name', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Currency', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Campaign_Name', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Ad_Group_Name', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Targeting', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Match_Type', 'type': VARCHAR(length=255), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Impressions', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'Top-of-search_Impression_Share', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Clicks', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'Click-Thru_Rate_CTR', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Cost_Per_Click_CPC', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Spend', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Total_Advertising_Cost_of_Sales_ACOS', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'Total_Return_on_Advertising_Spend_ROAS', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'seven_Day_Total_Sales', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'seven_Day_Total_Orders_', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'seven_Day_Total_Units_', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'seven_Day_Conversion_Rate', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'seven_Day_Advertised_SKU_Units_', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'seven_Day_Other_SKU_Units_', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'seven_Day_Advertised_SKU_Sales', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'seven_Day_Other_SKU_Sales', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}]
Date
Portfolio_name
Currency
Campaign_Name
Ad_Group_Name
Targeting
Match_Type
Impressions
Top-of-search_Impression_Share
Clicks
Click-Thru_Rate_CTR
Cost_Per_Click_CPC
Spend
Total_Advertising_Cost_of_Sales_ACOS
Total_Return_on_Advertising_Spend_ROAS
seven_Day_Total_Sales
seven_Day_Total_Orders_
seven_Day_Total_Units_
seven_Day_Conversion_Rate
seven_Day_Advertised_SKU_Units_
seven_Day_Other_SKU_Units_
seven_Day_Advertised_SKU_Sales
seven_Day_Other_SKU_Sales

In [7]:
# 從資料庫讀取數據
table_name = "sponsored_products_targeting_report"  # 替換為你的表名
df = getdata.fetch_data_from_db(database=database, table=table_name)
# 檢查讀取的資料
print(df)

Log in successful
           Date Portfolio_name Currency                      Campaign_Name  \
0    2024-05-22   No Portfolio      USD  MARS廣告活動 - 5/16/2024 13:23:18.755
1    2024-05-23   No Portfolio      USD  MARS廣告活動 - 5/16/2024 13:23:18.755
2    2024-05-24   No Portfolio      USD  MARS廣告活動 - 5/16/2024 13:23:18.755
3    2024-05-25   No Portfolio      USD  MARS廣告活動 - 5/16/2024 13:23:18.755
4    2024-05-26   No Portfolio      USD  MARS廣告活動 - 5/16/2024 13:23:18.755
...         ...            ...      ...                                ...
3289 2024-06-20   No Portfolio      USD       廣告活動 - 6/6/2024 10:56:01.163
3290 2024-06-17   No Portfolio      USD       廣告活動 - 6/6/2024 10:56:01.163
3291 2024-06-18   No Portfolio      USD       廣告活動 - 6/6/2024 10:56:01.163
3292 2024-06-19   No Portfolio      USD       廣告活動 - 6/6/2024 10:56:01.163
3293 2024-06-20   No Portfolio      USD       廣告活動 - 6/6/2024 10:56:01.163

                      Ad_Group_Name            Targeting Match_Type  \
0     MARS - 5/16/2024 13:23:18.752  outdoors sunglasses      BROAD
1     MARS - 5/16/2024 13:23:18.752  outdoors sunglasses      BROAD
2     MARS - 5/16/2024 13:23:18.752  outdoors sunglasses      BROAD
3     MARS - 5/16/2024 13:23:18.752  outdoors sunglasses      BROAD
4     MARS - 5/16/2024 13:23:18.752  outdoors sunglasses      BROAD
...                             ...                  ...        ...
3289   廣告群組 - 6/6/2024 10:56:01.162      cycling glasses     PHRASE
3290   廣告群組 - 6/6/2024 10:56:01.162     cycling sunglass     PHRASE
3291   廣告群組 - 6/6/2024 10:56:01.162     cycling sunglass     PHRASE
3292   廣告群組 - 6/6/2024 10:56:01.162     cycling sunglass     PHRASE
3293   廣告群組 - 6/6/2024 10:56:01.162     cycling sunglass     PHRASE

      Impressions  Top-of-search_Impression_Share  Clicks  ...  \
0               1                             NaN       0  ...
1               1                             NaN       0  ...
2             117                             0.0       0  ...
3              90                             NaN       0  ...
4              33                             NaN       0  ...
...           ...                             ...     ...  ...
3289         6227                             NaN       1  ...
3290         1934                             0.0       0  ...
3291         2159                             0.0       3  ...
3292         2804                             0.0       2  ...
3293         1123                             NaN       0  ...

      Total_Advertising_Cost_of_Sales_ACOS  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
3289                                   NaN
3290                                   NaN
3291                                   NaN
3292                                   NaN
3293                                   NaN

      Total_Return_on_Advertising_Spend_ROAS  seven_Day_Total_Sales  \
0                                        NaN                    0.0
1                                        NaN                    0.0
2                                        NaN                    0.0
3                                        NaN                    0.0
4                                        NaN                    0.0
...                                      ...                    ...
3289                                     0.0                    0.0
3290                                     NaN                    0.0
3291                                     0.0                    0.0
3292                                     0.0                    0.0
3293                                     NaN                    0.0

      seven_Day_Total_Orders_  seven_Day_Total_Units_  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
3289                        0                       0
3290                        0                       0
3291                        0                       0
3292                        0                       0
3293                        0                       0

      seven_Day_Conversion_Rate  seven_Day_Advertised_SKU_Units_  \
0                           NaN                                0
1                           NaN                                0
2                           NaN                                0
3                           NaN                                0
4                           NaN                                0
...                         ...                              ...
3289                        0.0                                0
3290                        NaN                                0
3291                        0.0                                0
3292                        0.0                                0
3293                        NaN                                0

      seven_Day_Other_SKU_Units_  seven_Day_Advertised_SKU_Sales  \
0                              0                             0.0
1                              0                             0.0
2                              0                             0.0
3                              0                             0.0
4                              0                             0.0
...                          ...                             ...
3289                           0                             0.0
3290                           0                             0.0
3291                           0                             0.0
3292                           0                             0.0
3293                           0                             0.0

      seven_Day_Other_SKU_Sales
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
3289                        0.0
3290                        0.0
3291                        0.0
3292                        0.0
3293                        0.0

[3294 rows x 23 columns]